


#homePage{
    @import './components/hero-component/hero-styles';
    @import './components/gallery-component/gallery_projects-styles';
    @import './styles/skills_services';
    @import './components/about-component/about-style';

    background-color: $color_primary;
    position: relative;
        z-index: 1;

    min-height: 100vh;
    .head{
        // border: solid 2px red;
        height: 40vh;
        padding: 0 $padding_sm;
        color: $color_tertiary;
        h1,h2{
            text-transform: capitalize;
        }
        h1{
            padding: 10px 0 5px;
            font-size: $txt_h3_size_md;
        }
        h2{
            font-size: $txt_h3_size_md;
            font-weight: $txt_weight_md;
            font-family: "Pacifico", serif;
            font-style: normal;
            padding: 0 0 5px;
        }
    }

    @include media-queries(md){
        .head{
            padding: $padding_md;
        }
    }
}