
#homePage{
    @import './components/hero-component/hero-styles';
    @import './components/gallery-component/gallery_projects-styles';
    @import './styles/skills_services';
    @import './components/about-component/about-style';

    background-color: rgb(0, 0, 0);
    position: relative;
        z-index: 1;
}