#section_hero{
    display: flex;
    flex-direction: column;

    .hero_content {
        height: 100vh;
        // background-image: url('/bg1.webp');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .box_shadow{
        display: flex;
        flex-direction: column;
    }

    .intitule{
        @include flex(column, center, flex-start);
        width: 100%;
        flex: 2;
        overflow: hidden;
        padding: 0 10px;

        .h2_box{
            
            $vwSizeDynamic: 12vw;

            h2{
                color: $color_secondary;
                font-size: $vwSizeDynamic;
                line-height: 1;
                text-transform: uppercase;
                font-weight: 900;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }
        }
    }

    
    .titre{
        display: flex;
        align-items: center; 
        overflow: hidden;
        flex: 1;
        h1{
            flex-wrap: nowrap;
            text-align: center;
            font-size: min(150px, 20vw);
            animation: pub 15s linear infinite;
            text-transform: uppercase;
            text-wrap: nowrap;
            position: relative;
            color: $color_tertiary_opo;

            &::before{
                content: attr(data-content);
                position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                -webkit-text-stroke: 3px $color_secondary;
            }
            
        }
    }
    @keyframes pub{
        0%{
            transform: translateX(+100vw);
        }
        100%{
            transform: translateX(-100%);
        }
    }


    @include media-queries(md){
        .intitule{
            padding: 0 20px;

            .h2_box{
                $vwSizeDynamic: 14vw;
                $vwSize: 100px;

                h2{
                    font-size: min($vwSize, $vwSizeDynamic);
                }
            }
        }
        .titre{
            margin-bottom: 0px;
        }
    }

}