
footer{
    position: sticky;
        bottom: 0;
    background-color: $color_tertiary;
    // color: white;
    padding: 100px 0 20px;
    @include flex(column, space-around, center);
    gap: 100px;
    
    .infos{
        @include flex(column, space-around, flex-start);
        gap: 100px;

        div{
            @include flex(column, flex-start, flex-start);
        }
        
        ul{
            @include flex(column, center, flex-start);
    
            // li:first-child{
            //     padding: 0 0 30px;
            //     text-decoration: underline 2px solid $color_secondary;
            //     h3{
            //         color: $color_secondary;
            //         font-size: $txt_h3_size_sm;
            //     }
            // }
    
            li{
                padding: 0 0 10px;
    
                a{
                    font-size: $txt_p_size_sm;
                    text-decoration: none;
                    transition: 0.3s;
                    color: $color_primary;
                    &:hover{
                        color: white;
                    } 
                }
            }
            .sous_titres{
                padding: 10px 0;
                color: $color_secondary;
                font-size: $txt_h3_size_sm;
                font-weight: $txt_weight_md;
                text-decoration: underline 2px solid $color_secondary;
            }
        }
    }

    .copyright{
        text-align: center;
        font-size: $txt_p_size_sm;
        color: $color_primary;
    }

    @include media-queries(md){
        .infos{
            @include flex(row, space-around, flex-start);
            gap: 0;
            width: 100%;
        }
    }
    

}