header{
    background-color: $color_primary;
    color: $color_tertiary;
    @include flex(row, space-between, center);
    position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        
    
        // border: solid 2px red;
    
    .logo{
        // background-color: $color_tertiary;
        @include flex(row, center, center);

        span{
            font-size: 18px;
            font-weight: 900;
            padding: 5px 10px;
            text-transform: uppercase;
        }
    }

    @include media-queries(md){

        padding-bottom: 10px;
        
        .underline{
            position: absolute;
                bottom: 2px;
                left: 0;
                right: 0;
                z-index: -1;
            height: 1px;
            width: calc(100% - 20px);
            border-radius: 50%;
            margin: 0 auto;
            background-color: $color_tertiary_opo;
        }

        .logo{
            span{
                font-size: $txt_p_size_md;
                font-weight: $txt_weight_sm;
            }
        }
    }
}